.contact_det{
    display: flex;
    gap: 50px;
    padding: 0 10%;
}
.contact_det .con_heading p{
    text-align: justify;
    line-height: 30px;
}

.con_heading{
    text-align: left;
    width: 50%;
}
.con_heading small{
    margin-left: 25px ;
}
.con_heading button{
    padding: 8px 20px;
}
.con_inp{
    width: 50%;
}
.con_inp input,select,textarea{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    outline: none;
    margin-bottom: 10px;
    color: #999 !important;

}
.con_inp input,textarea{
    padding: 10px 5px;
}
/* .con_heading select{
    height: 40px;
} */
.con_inp textarea{
    height: 75px !important;
}
.con_inp button{
    width: 100%;
    padding: 10px 0;
}
.con_iframe{
    position: relative;
    margin-bottom: -5px;
}
.con_iframe iframe{
    width: 100%;
    height: 400px;
    /* opacity: 0.7; */
}
.cont_card{
    background: #22B6AF;
    width: 360px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}
.cont_card h4{
    margin-bottom: 15px;
}
.cont_card button{
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
    margin-top: 5px;
}

@media(max-width:1400px){
    .contact_det{
        padding: 0 3%;
        flex-wrap: wrap;
    }
    .con_heading{
        width: 100%;
        text-align: center;
    }
    .con_heading p{
        text-align: center !important;
    }
    .con_inp{
        width: 100%;
    }
    
}

@media(max-width:660px){
    .cont_card {
        text-align: center !important;
        /* margin: 0 10px; */
        
    }
    /* .cont_card p{
        text-align: ;
    } */
}
@media(max-width:400px){
    .cont_card_main{
        padding: 0 10px !important;
    }
    .cont_card{
        width: calc(100% - 30px);
    }
}